body,html{ height:100%; }
body{ margin: 0; background: #55a9f1; display: flex; flex-direction: column; }
html,
textarea,
input[type=text],
input[type=password]{ font: menu; }

#controller{ margin:0.5rem; display: flex; flex:1; }
#content{ flex:3; height: 100%; background: white; }
#side{ flex:1; height: 100%; background: white; margin-left: 1rem; position: relative; }

#side_toggle{ font-size: 0.75rem; line-height:1em; position: absolute; top:0; left:-0.88rem; color: white; opacity: 0.7; cursor: pointer; border-radius: 0.1rem; }
#side_toggle:hover{ opacity: 1; }
#side_toggle > i{ display: inline-block; }
#side_toggle > i:first-child{ display: none; }
#side.closed{ flex:0; margin-left: 0.5rem; }
#side.closed #side_toggle{ left:-0.5em; }
#side.closed #side_toggle > i{ display: none; }
#side.closed #side_toggle > i:first-child{ display: inline-block; }