.ui-popup-modal .artDialog-black.ui-dialog {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.ui-popup-focus .artDialog-black.ui-dialog{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}
.persist.ui-dialog .ui-dialog-close{ display: none; }

.artDialog-black.ui-dialog{
	background: none;
	border: 1px solid rgb(55,55,55);
	overflow: hidden;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.artDialog-black .ui-dialog-grid{
	width:100%;
}
.artDialog-black .ui-dialog-header{
	background: linear-gradient(
		to bottom,
		rgba(219, 219, 219, 0.76) 1px,
		rgba(183, 183, 183, 0.63) 1px,
		rgba(101, 101, 101, 0.63) 50%,
		rgba(70, 70, 70, 0.63) 50%,
		rgba(10, 10, 10, 0.63) calc(100% - 1px),
		rgba(0, 0, 0, 0.67) calc(100% - 1px)
	);
	border:0;
}
.artDialog-black .ui-dialog-title{
	color: white;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7);
	padding:10px 0;
	text-indent: 10px;
	margin-right: 24px;
}
.artDialog-black .ui-dialog-close:hover,
.artDialog-black .ui-dialog-close{
	right:6px;
	padding: 0;
	top:9px;
	color: white;
	z-index: 2;
	position: relative;
	opacity: 0.5;
	text-shadow: 0 0 2px black;
	font-family: Arial,sans-serif;
}
.artDialog-black .ui-dialog-close::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.artDialog-black .ui-dialog-close:hover{
	color:white;
	opacity: 0.8;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 3px white, 0 0 4px white;
}
.artDialog-black .ui-dialog-close:focus {
	opacity: 1;
	color: white;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 3px white, 0 0 4px white;
}
.artDialog-black .ui-dialog-content{
	display: block;
	word-break:break-all;
}
.artDialog-black .ui-dialog-body,
.artDialog-black .ui-dialog-footer{
	background: #f7f7f7;
}
.artDialog-black .ui-dialog-footer button.ui-dialog-autofocus{
	background: linear-gradient(
		to bottom,
		#33bbee 0%,
		#2288cc 100%
	);
}